@keyframes inf-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes inf-scroll-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.inf-slide-track {
  display: flex;
}

.inf-slide {
  flex-shrink: 0;
}
